<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Foreign Student app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE9509301CF7426A00DBD624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9509481CF7426B00DBD624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE9509531CF7426B00DBD624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
